/*
SELETTORE {
        proprietà: valore;
}
*/
html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(sfondo.jpg);
    background-size: cover;
    height: 100%;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    min-height: 90%;
    border-radius: 2%;
    margin: auto;
    padding-left: 30px;
    padding-right: 15px;
    margin-top: 8px;
}

img {
    display: block;
    margin: auto;
    padding-top: 7%;
}

h1 {
    color: #00dd00;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 500;
}

nav {
    background-color: #00dd00 ;
    width: 90%;
    margin: auto;
    height: 30px;
}

nav div {
    text-align: center;
    vertical-align: auto;
    padding-top: 4px;
}

button {
        font-size: 8px;
        font-weight: 700;
}

main>div {
    padding-left: 5%;
}

input{
    width: 10px;
    margin-left: 1px;
}

h2 {
    display: inline-block;
    color: white;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 200px;
    margin-top: 17px;
}

p {
    font-size: 11px;
    color: white;
    font-weight: 100;
    margin-top: 2px;
    margin-bottom: 2px;
}

.indirizzo::before {
    content: ' \21A6';
    margin-right: 5px;
}

.carica1, .carica2, .carica3 {
    height: 20px;
    border-radius: 3px;
}

.carica1 {
    width: 220px;
    background: #f3b251;
}

.carica2 {
    width: 400px;
    background: #1ec31e;
}

.carica3 {
    width: 120px;
    background: #be4141;
}








